[2017-04-09 17:23] nolanlawson opened #1 "Set up Patreon"
It's not sustainable for me to do this by myself. I've already heard some folks say they'd chip in, so I think it's time to set up a Patreon.

[2017-04-09 17:24] nolanlawson opened #2 "More thoroughly evaluate blocked instances"
There's been some discussion in tootcafe/blocked-instances#1 about this but basically I've taken a "shoot first, ask questions later" approach because I want to err on the side of caution, and I'm new to Mastodon and thus don't know what a lot of these instances are for. But it's important that we at least give them a fair shake.

[2017-04-09 17:26] nolanlawson opened #3 "Policy on followbots"
Followbots are generating some controversy because folks seem to find them creepy; you can use `#nobot` in your profile to block them but only if they're well-behaved, also I've asked the whole instance to be added to a block list for the moment.

Once again, erring on the side of caution, personally it seems kind of gray zone to me but best to make users feel comfortable at least while the commun

[2017-04-09 17:32] nolanlawson opened #4 "Favicon and GitHub org icon"
I think it'd be nice to have a favicon and an icon for this GitHub org; I was thinking maybe a coffee cup or something but I'm open to suggestions. Looked around and didn't find a lot of Creative Commons coffee cup images, but since we have some designers in the house, maybe it'd be good to ask among the community?

[2017-04-09 17:33] nolanlawson commented on #2
Arguably I could have just opened this issue in the other repo, but I guess I can just consider this a general task that needs to be finished.

[2017-04-09 17:38] nolanlawson opened #5 "Improve SSL score"
I'm told we currently score a B; I used LetsEncrypt with some pretty basic setup but I know this can be improved. Especially for a tech-savvy crowd it would probably be best to have a good score there. 😅

[2017-04-09 17:40] Pajn commented on #5
Here are some results: https://observatory.mozilla.org/analyze.html?host=toot.cafe

[2017-04-09 17:46] ramlmn commented on #5
Same thing on SSL Labs [https://www.ssllabs.com/ssltest/analyze.html?d=toot.cafe](https://www.ssllabs.com/ssltest/analyze.html?d=toot.cafe)

[2017-04-09 19:51] mlcdf commented on #4
My modest contribution.

![logo](https://cloud.githubusercontent.com/assets/9364931/24840519/aac8e0aa-1d6e-11e7-8ba0-acbd7f52854f.png)

Feel free to leave your feedback!

[2017-04-09 20:00] nolanlawson opened #6 "Bot to toot out server health status"
I've been doing this manually for awhile with the #TootCafeServerHealth tag, but it'd be neat to have a bot to do it automatically. Ideally it'd be unlisted to avoid spam; at least that's what in our guidelines. Would probably toot every 4 hours or so I imagine.

[2017-04-09 20:12] nolanlawson opened #7 "Opening up registration on a regular basis"
Other instances like witches.town and cybre.space seem to be doing this: opening up registrations, say, every day for an hour at 9am. (Good to control the flood of users.) Should we start doing this?

All signs indicate that we could probably comfortably hold another 100 users or so, but I don't want to get cocky and then have the server get sluggish and then go down while I upgrade. Also I'm a bi

[2017-04-09 20:17] halkeye commented on #7
My vote is make it easier to invite people at least for the short term. There's enough other instances that nobody should be desperate. I have pretty public contact info as well

[2017-04-09 20:32] gladimdim commented on #7
I would allow refugees from twitter,  but related to webdev accounts. There are enough other instances,  so they have place to chat about lgbt/nazis problems :)

[2017-04-09 21:33] AntonioVdlC commented on #7
On one hand, it is really tempting to follow the steps of `witches.town` and `cybre.space`, as I think they are great communities and I think we should be open to anyone that might be interested in joining us, but the risk is to overflood the `toot.cafe` instance.

On the other hand, I don't know how tedious it is to invite people manually, but that definitely won't scale (if what we want as a com

[2017-04-09 23:02] halkeye opened #8 "Update Mastodon to v1.1.1"
Not sure its a discussion, but https://github.com/tootsuite/mastodon/releases/tag/v1.1.1

[2017-04-09 23:03] halkeye commented on #8
Apparently I can't label anyways

[2017-04-09 23:24] halkeye commented on #8
https://mastodon.at/users/pfigel/updates/689

how to update with no downtime

[2017-04-09 23:42] nolanlawson commented on #8
Awesome thank you, I was actually waiting for them to adopt a real versioning system before upgrading. up to now it's just been pulling from github master, which has had its issues (people have had to downgrade because o fa bug). I'll rebase our changes and get this done as soon as I can!

[2017-04-09 23:52] nolanlawson commented on #7
Actually my DMs are open and have been for years. :) Usually it's not worked out too badly for me, but we'll see how much longer that can last.

The other thing to know is that the current invite process is _extremely_ manual. It's a lot of pointing and clicking and copying and pasting and asking people to _please_ provide both an email address and a username and navigating the Twitter DM UI which

[2017-04-09 23:54] halkeye commented on #7
I've been working on and off all afternoon to get a dev setup going (havn't used vagrant in years). Once I do, invites is something I want to tackle

[2017-04-09 23:57] nolanlawson opened #9 "Policy on fake accounts"
Some people are worried about fake accounts on Mastodon parading as other users, but our current CoC does not mention what to do in the case of such accounts. Arguably in the case of celebrity impersonators and such, these can be funny and good-hearted and not trying to actually impersonate someone.

What policy should we have on this? Should we take it on a case-by-case basis?

[2017-04-10 00:00] halkeye commented on #9
I assume for example:
https://mastodon.technology/@twitter
https://mastodon.cloud/@realDonaldTrump

My vote is unless they are on the toot.cafe server, they are kinda not our problem

[2017-04-10 00:07] nolanlawson opened #10 "Internal search service"
I've cut off all crawlers from toot.cafe (tootcafe/mastodon#1) in order to protect people's privacy (by default, anyway; this could possibly be opened up on an individual basis). Mastodon already provides hashtag-based search but not fulltext search in order to prevent harassment (e.g. a troll searching for a particular topic and harassing anyone talking about that topic).

But maybe it would be u

[2017-04-10 00:08] nolanlawson opened #11 "Ask search crawlers to remove indexed content"
Google, Bing, and DDG seem to be taking their time removing the content they indexed before I updated `robots.txt`, so I should go and log in to their webmaster tools and try to remove it manually.

[2017-04-10 00:08] nolanlawson commented on #11
Related: #10

[2017-04-10 00:11] nolanlawson opened #12 "Install an Ambassador bot"
This project is recent but it seems like a good idea: [ambassador](https://github.com/mbilokonsky/ambassador).

You should read the description to understand what it's doing, but basically it would promote the most fav'd toots from our instance and allow remote instances to follow it in order to seed their instances with interesting content. This is a proposed fix to the problem of followbots.

An

[2017-04-10 00:18] nolanlawson opened #13 "Set up a failover server"
There's a way to set up the server such that there's no downtime when performing administrator tasks like upgrading Mastodon, resizing an instance, etc. Currently we get maybe a few seconds to a few minutes of downtime depending on what I'm doing, but it would be nice to eliminate entirely.

[2017-04-10 00:19] nolanlawson commented on #9
That makes sense; I was thinking more about accounts on toot.cafe itself.

[2017-04-10 05:14] nolanlawson commented on #7
Maybe we should just open up a PR on Mastodon itself? This seems like a generally useful feature. Just a pipe-separated list of email address in a config or something.

[2017-04-10 05:33] AntonioVdlC commented on #7
Oh well, I guess I'm the only person I know that doesn't have open DMs ... that makes my argument void! 😅

Ultimately it's up to you! I feel like it's either whitelisting or blacklisting, with the former being extremely tedious, until we work out a better solution in the code itself. I feel like we can talk about this for ages, but the best way to figure it out is definitely to try it out and see

[2017-04-10 06:55] nolanlawson commented on #7
Yeah I still wouldn't be opposed at this point to just opening up registrations for an hour or two. We've got a moderator team that is slowly growing, and supposedly people who are interested in the same kind of stuff are likely to join, but it's also not required that everything be on-topic all the time and it's frequently not already anyway, and the timeline is still a great experience.

Also a

[2017-04-10 09:32] Pajn commented on #7
As the invitations put quite a strain on Nolan I think we should open. However, I think we should modify the about page a bit first as it's just a stock Mastodon page. Just some things makes it more likely that people join because the want to join toot.cafe instead of any random Mastodon instance. Like pointing out that we have what might be considered a pretty strict CoC and do have some instance

[2017-04-10 09:35] Pajn commented on #12
I think that's a great idea!
Maybe we could also link it's profile from about or more page (continuing from #7) so that people can get some feeling of this instance before they join?

[2017-04-10 09:46] mlcdf commented on #7
Yeah, so do I. Let's just do this then:

And we'll see how that goes.

[2017-04-10 11:23] Pajn commented on #9
My vote is on not allowing them on toot.cafe, we have a bit more personal community more in line with witches.town and toot.cat than mastodon.social and I would love if we could keep it there.
One can still follow them if you want and I guess at least some of them will show up in the federated timeline.
So I don't want them banned or muted, just on a bit longer distance.

[2017-04-10 15:11] halkeye commented on #9
Huh you can't add reactions on mobile? I agree with Pajn. Do nothing for the universe at large but disallow locally

[2017-04-10 18:12] rachelnicole commented on #7
If you're going to be upset with people discussing social justice / lgbtq* issues / *-isms then toot.cafe is not going to be the place for you. There are already enough silos on the internet for people to discuss programming, and while the instance is initially being seeded by the dev community, people are (hopefully) more complex than just talking about programming so natural normal conversations

[2017-04-10 18:46] halkeye commented on #7
I'm not saying no to open reg, even though it adds work for us mods. I just want to make invites easier.

@nolanlawson would just having a create interface for making users be good enough to lessen the load on you? or the slightly more complicated flat import of emails be the best?

[2017-04-10 18:56] nolanlawson opened #14 "Custom notification sounds: shell sound from NES Mario, the 7th is a 1-up"
I am 100% serious about this. It already sounds a lot like the shell sound, so it bugs me that the 7th isn't a 1-up.

[2017-04-10 19:45] karlprieb commented on #1
When you @nolanlawson will create a Patreon page?

I think it is a good service to keep tracking of donations and monthly costs.

[2017-04-10 21:47] bytesbymike commented on #7
I think ease of config for @nolanlawson (and others) is the most important thing.

It happens to be cool right now that toot.cafe is that it's small enough to keep up with the local timeline, but I wouldn't suggest that's a reason to be overly restrictive or exclusionary!

Oh, maybe add some "about" text speaking to Rachel's point about it not be *strictly* tech focused.

My $0.02.

[2017-04-11 03:31] halkeye commented on #7
with https://github.com/scambra/devise_invitable and a bit of work, it would allow any user to invite any other person they want. It would allow organic growth without a free for all.

I'm working on an admin interface for creating a new user right now.

Want to prototype some other ideas for inviting users (livejournal back in the day had accounts have a limited number invite codes which i actual

[2017-04-11 05:33] nolanlawson commented on #8
Fixed by https://github.com/tootcafe/mastodon/pull/4

[2017-04-11 05:33] #8 closed, assigned to nobody

[2017-04-11 06:34] nolanlawson commented on #7
After listening to discussion, I agree with @halkeye and @rachelnicole and would like to seed deliberately a bit longer. @halkeye's system sounds great but I would also be happy with just a PR to Mastodon to allow a config for whitelisted email addresses. Alternatively, for anybody who has an email with a unique domain such a config already exists.

Also yeah there will undoubtedly be LGBTQ/anti-N

[2017-04-11 06:36] nolanlawson commented on #12
Yup, I think that's another one of the goals of the project, so sounds like a great idea to link from the homepage.

[2017-04-11 14:47] luisbg commented on #7
Maybe we could keep a file in this repo with latest numbers on users and usage. See how much space for growth there is before the gates are open again.

[2017-04-11 15:19] nolanlawson commented on #4
I really love all of these, especially the cup with a heart in it (simple and recognizable even at low resolutions, great for a favicon! 😃).

[2017-04-11 22:44] nolanlawson commented on #9
That sounds about right to me. Also fake accounts that are trying to impersonate someone who's *not* a celebrity (i.e. it's not immediately obvious it's a joke) should probably be blocked outright, remote or otherwise. Not sure how to word that in the terms though.

[2017-04-12 00:18] nolanlawson opened #15 "Regular backups"
This is something pretty important to do, although it will undoubtedly increase the monthly costs.

[2017-04-12 07:43] mlcdf commented on #4
Yeah, that's the one I prefer too. I also didn't another iteration based on [@Gargoylezoo](https://physi.cc/@Gargoylezoo) feedback:

![4abeaf4ee02469c7](https://cloud.githubusercontent.com/assets/9364931/24946402/1072ede2-1f63-11e7-98ae-0ab79d7bbdad.png)

While I loved the idea (drawing a trumpet with the coffee creme), I doesn't work very well in practice  (and also, it's poorly made). A trumpet

[2017-04-12 08:51] luisbg commented on #7
Re-read this. Is there a way for the rest of moderators to help and have new joiners not put as much of a strain on @nolanlawson ?

[2017-04-12 14:09] nolanlawson commented on #7
@luisbg I'll DM you. :)

[2017-04-12 17:34] nolanlawson opened #16 "Disable follower accounts or bucket them"
Based on discussion in [this thread](https://toot.cafe/users/nolan/updates/4839), I would like to either disable follower accounts or (more likely) shift to a bucket-based system.

Read the full thread for context, but I am tired of the hero worship, celebrity culture, and (yes) #branding that emerges from public follower counts. On the other hand, they're a good metric for distinguishing trolls (

[2017-04-12 17:38] mlcdf commented on #16
I stumble on this thread a couple hours ago, and I had the same idea. So yeah, huge :+1:

[2017-04-12 17:43] nraboy commented on #16
I personally would like to see a follower count remain.  Helps me determine a few things:

* Is this person legit or a knock-off account.  With so many instances and people claiming to be Mark Zuckerberg, a clear indicator would be determinable by their follower count.
* Do others find this person to share valuable information.  Few followers is generally a good indicator the person doesn't share

[2017-04-12 17:43] halkeye commented on #16
We have follower counts? I guess I always assumed we did.

On Apr 12, 2017 10:38 AM, "Maxime Le Conte des Floris" <
notifications@github.com> wrote:

I stumble on this thread earlier, and I had the same idea. So yeah, huge 👍

—
You are receiving this because you are subscribed to this thread.
Reply to this email directly, view it on GitHub
<https://github.com/tootcafe/discussions/issues/16#issueco

[2017-04-12 17:48] dperrera commented on #16
I love this idea. Removing follower counts disincentivizes bad behavior and would quash some of our reflexive admiration of big numbers. Hopefully this move would focus people's attention on good content and thoughtful conversation. At the very least it would be an excellent experiment.

[2017-04-12 17:58] newtoncalegari commented on #16
+1 for your suggestion.
As said in the thread, follower counts can eventually create a kind of unconscious bias, where we might judge people according to those numbers instead of paying attention to their actual content.
Agree with @dperrera, it would be a nice experiment

[2017-04-12 18:02] colinhowells commented on #16
To nraboy's point: follower numbers would be the only user verification mechanism we had – if the instance's admin weren't acting as gatekeeper. Since Nolan's acting as such for the cafe, follower numbers could be dropped, for us. Other larger, more open instances might still need the number as people in them would need all the help they could get ...

[2017-04-12 18:03] moke-codes commented on #16
I agree with the "unconscious bias" thing and the role that the followers' count plays in that matter.
My only question is, how can someone know that the person he found during a search is the person it's looking for and not someone else pretending to be that person?

[2017-04-12 18:05] mlcdf commented on #16
@nraboy

There are other ways to authenticate an account. So for me, this is a none issue.

Well, "anything worth following" is pretty subjective.

In order to know if a person share anything worth following, the best way is by far to read what the person posts. To me, the follower count is just a "fame" indicator, not a "quality" indicator.

[2017-04-12 18:07] blakeembrey commented on #16
@Moke-RS Isn't that an issue regardless of follower counts being visible? I could be wrong, but I thought you'd only see federated followers (if you're using search), in which case a legit user could easily have less followers than than a fake user from your perspective.

Either way, that's only accounting for other instances. On toot.cafe, as I understand it, it's mostly a curated community so it

[2017-04-12 18:10] nraboy commented on #16
@blakeembrey but my interests are not in strictly JavaScript.  If I want to adventure out and follow someone who focuses on hardware, how can I be sure that they are real or not?  Likewise if someone from another community wants to follow someone from a JavaScript community.  Do we have to trust that JavaScript people stay in the JavaScript community and nowhere else? That seems not right.

[2017-04-12 18:13] moke-codes commented on #16
@blakeembrey Yes, I think so. I'm not advocating for the follower's counts, just raising a concern. How could we tackle this problem? I don't know the answer for this. Also, I'm not sure if a "certified account" won't be necessary at any moment in the future.

[2017-04-12 18:17] blakeembrey commented on #16
@nraboy Please check the first paragraph of my response. I'm not advocating either way, I'm just saying that using the count as a way to "prove" the user is real seems flawed. If you're viewing people on other communities, then you'd see their count on that community, and you can use that. If you're using the federated follower count from toot.cafe, seems pretty much irrelevant. I'd recommend usin

[2017-04-12 18:20] halkeye commented on #16
Just for the record this would only affect the profiles of toot.cafe users. I'm pretty sure the profile of anyone else goes to the server they are on. If we do have a local copy, the followers and stuff is wrong anyways.

[2017-04-12 18:23] nraboy commented on #16
@blakeembrey Maybe I don't understand the whole thing.  Are you saying local follower count and federated follower count are two different things? As in, if federated was disabled, anyone who clicks my name would be able to see how many local toot.cafe people follow me?

I think I see where this is going, but I still have skepticism.

In all honesty, I came to Mastodon to dodge all the political a

[2017-04-12 18:23] blakeembrey commented on #16
Here's a real example that hopefully makes more sense, if you'd like to verify it and see that the indicator really doesn't mean much when you're looking at people outside the current instance. Take a look at https://mastodon.social/@danharmon, then go to toot.cafe and paste it into search instead:

![image](https://cloud.githubusercontent.com/assets/1088987/24972968/062a1266-1f72-11e7-82fa-5a3ccf

[2017-04-12 18:28] blakeembrey commented on #16
@nraboy Of course, I'm only touching on the comments around using follower count and search as an indicator of "real" to demonstrate that, in that case, it's irrelevant and not a good metric. For other reasons it might be useful (you mentioned whether the content had quality) but maybe that's not needed. Maybe people prefer to read through their previous content to see if it interests them? Person

[2017-04-12 18:31] nraboy commented on #16
I understand.

Maybe just keep it as close to the upstream as possible?  Model it towards mastodon.social and maybe influence how the upstream does things so it trickles down to the other instances?  This way it doesn't become chaos between all the instance differences?

[2017-04-12 18:35] ef4 commented on #16
I agree with the sentiment that follower counts are a rough proxy for identity authenticity. If we were to drop them, I think some other social-graph-derived indicator is needed. Perhaps "$PERSON is followed by these people you follow".

I don't think being a closed instance makes a difference -- being federated is important, and users should get reasonable feedback about whoever they're viewing w

[2017-04-12 18:44] kkostov commented on #16
Sounds like a good idea.

I am not sure this would work very well. LinkedIn has a similar system where you normally see up to 500 and then it simply says a person has 500+ connections. I know the context there is different but ultimately the meaning of "100+" would be diminished as it would only apply to new accounts or users who simply prefer to browse without actually posting enough content to g

[2017-04-12 18:49] Pajn commented on #16
I think it's a pretty neat idea, however I think it should be done completely if it is done.
The reason is that < 100/> 100 has a pretty big risk of encouraging the "validated" feeling based on followers, as we give an exact point where the account has reached "many" followers. While this feeling might feel nice it's problematic as it doesn't mean anything really. If a fake account is created firs

[2017-04-12 18:51] moke-codes commented on #16
I like this approach. You can hide the followers' count, but show the "most followed people who follow this person + people you know who follow this person". Prominent people used to be followed by other prominent people. It's an indirect way of giving credibility.

[2017-04-12 18:53] nraboy commented on #16
@Moke-RS I also like this as well :-).  Anyone want to write this, it seems complicated :-P

[2017-04-12 19:00] moke-codes commented on #16
@nraboy (List of followers ordered by its followers' count [which is hidden but recorded] + List of common followers) - I don't how much of this is complicated to do. It depends, I guess, on how this information flow between instances.

[2017-04-12 19:32] blakeembrey commented on #16
Should we make an issue on Mastodon for this? It seems like it should be doable, but from the little I've used Mastodon it seems like it'd need to request more information than available today. Twitter and Facebook both use the same feature, and I think I've referred to that more often than the actual number of followers/friends.

Edit: If I understand it correctly, it should be enough just to fin

[2017-04-12 20:58] nolanlawson opened #17 "Toot.Cafe Tusky app"
It's a bit annoying to use Tusky if you have multiple accounts, because you can only have one. Seems we should be able to:

1. Fork Tusky
2. Change the app ID and name
3. Set up our own FCM/GCM account
4. (Optional) change the background to purple

The other option is to add account-switching to Tusky, but this seems faster and also kind of nice to just have Toot.Cafe in my app drawer. 😁

[2017-04-13 00:28] nolanlawson commented on #16
For those wondering, the UI doesn't show the full remote user metrics (follower count etc.) for the same reason it doesn't necessarily show all boosts/replies/favs: it's only when someone in our instance _starts following_ someone in another instance that we begin to receive information about them. So for instance Dan Harmon has "4 followers" because he has 4 followers that are followed by other u

[2017-04-13 00:42] mlcdf commented on #4
I created a repository to host the icons (as well as the color theme) so people can use them if they want: https://github.com/mlcdf/tootcafe-ressources

If we go with this icon, then I'll transfer the repo to the TootCafe organization.

[2017-04-13 01:57] nolanlawson commented on #16
[More discussion here](https://mastodon.social/@GinnyMcQueen/2373876).

[2017-04-13 02:36] nolanlawson commented on #4
I love it! I'll add these ASAP. :)

[2017-04-13 03:02] nolanlawson commented on #4
Done! We are logo'd. Awesome work! 🎉🎉🎉

[2017-04-13 03:02] #4 closed, assigned to nobody

[2017-04-13 04:54] rtorr commented on #4
Id love this to also work for Androids add to home screen icon 👌

[2017-04-13 08:06] mlcdf commented on #4
Thanks! :blush:

I transfered the repository to our GitHub org: https://github.com/tootcafe/ressources

Damn, I forgot that in English, it's `resources` and not `ressources`. @nolanlawson if you can rename the repo & update its description.

[2017-04-13 08:07] mlcdf commented on #4
@rtorr Yeah, that would be great. We need to update the manifest.json for that.

[2017-04-13 09:55] mlcdf opened #18 "Update manifest.json with the new logo"
We should update the icon(s) in the manifest.json so that when people add the web app on their home screen, the new logo is displayed.

PS: I can work on that.

(related #4)

[2017-04-13 13:46] schamp commented on #16
I like the idea of finding some other quality indicator besides raw follower count, but I'm thinking, for instances that remain invitation-only, it's probably not so important.  "High follower count followers" seems like a good starting point.

[2017-04-13 16:10] nolanlawson commented on #18
Oops, I forgot to do that. :D Yes please, open up a PR on our mastodon repo (the `tootcafe` branch is the base branch; may change that if it's confusing).

[2017-04-13 19:51] zcdunn commented on #12
I really like the idea of ambassador bots. New users and users on other instances can see the best of :trumpet: :coffee: I also would like to see other instances installing one, so it becomes common for users to check an instance's ambassador handle for good stuff.

[2017-04-13 19:55] halkeye commented on #17
a third option is to add web push to the actual app

[2017-04-13 21:30] nolanlawson opened #19 "Upgrade Mastodon to v1.1.2"
It's out; notably it should fix the problem with newlines being shown doubled: https://github.com/tootsuite/mastodon/releases/tag/v1.1.2

[2017-04-14 04:10] nolanlawson commented on #16
So I saw some nasty subtooting going on recently, and it's made me feel even more strongly that follower counts needs to go away. Ignoring the specifics of the situation, I believe the ultimate cause is someone thinking to themselves, "This person has _influence_! And yet they're _wrong_! I must correct this injustice!" Whereas if you have no idea how much "influence" someone says, you don't feel

[2017-04-14 04:21] #18 closed, assigned to nobody

[2017-04-14 06:49] nolanlawson commented on #19
fixed

[2017-04-14 06:49] #19 closed, assigned to nobody

[2017-04-14 14:41] nolanlawson commented on #15
Had a scare last night with some systemd scripts (nothing serious; just that systemd wouldn't start for some stupid reason, had to run the scripts manually) and it's spooked me enough that I want to do this ASAP.

[2017-04-14 15:15] nolanlawson commented on #15
OK I've configured Azure to back up the instance every day at 10pm Pacific time and to hold the backup for 180 days. We can tweak this later if we want to be safer, but it may cost us.

[2017-04-14 15:15] #15 closed, assigned to nobody

[2017-04-14 15:55] nolanlawson commented on #1
Patreon acquired: https://www.patreon.com/user?u=5535137

[2017-04-14 15:55] #1 closed, assigned to nobody

[2017-04-15 17:08] nolanlawson commented on #9
This seems pretty obvious; I'm going to just say we ban fake accounts entirely. I would rather people just be themselves on toot.cafe anyway; you can have joke celebrity accounts elsewhere and that's cool.

[2017-04-15 17:08] #9 closed, assigned to nobody

[2017-04-15 17:11] nolanlawson commented on #9
Updated rule:

[2017-04-15 18:40] #2 closed, assigned to nobody

[2017-04-16 19:30] nikhita opened #20 "Moderator account links are incorrect on about page"
Just a cosmetic but thought I'll mention it anyway.

On this page: https://toot.cafe/about/more, the moderator accounts mentioned do not point to the correct links.

* `@ohhoe` points to https://toot.cafe/@nolan
* `@halkeye` points to https://toot.cafe/@ohhoe

[2017-04-16 20:01] halkeye commented on #20
OOh

I got this one

[2017-04-16 20:02] halkeye commented on #20
Thanks @nikhita

Fixed

[2017-04-16 20:02] halkeye commented on #20
@nolanlawson (Can you close this)

[2017-04-16 20:02] nikhita commented on #20
Closing @halkeye

[2017-04-16 20:02] #20 closed, assigned to nobody

[2017-04-16 22:42] nolanlawson opened #21 "Upgrade to Mastodon 1.2"
https://github.com/tootsuite/mastodon/releases/tag/v1.2

[2017-04-16 23:36] mlcdf commented on #14
I think is a fun thing to do! How would this work tho?

Like some kind of combo? Everytime you got a notification, it increases a counter and when you reached 7, the notification sound is a 1-up and the counter is reseted?

Also, what about the license of the audio file?

[2017-04-19 00:32] nolanlawson commented on #14
Oof, I didn't think about the license. That would be good to research. And yeah I was thinking it would be per-session, so 7 in the same session would cause the 1-up sound.

[2017-04-19 15:42] mlcdf commented on #14
I'll look into that!

[2017-04-19 16:09] nolanlawson opened #22 "Auto-refresh seems broken, 502 web socket error"
See thread: https://toot.cafe/@olpe/198616

I did an upgrade to v1.1.1 a week ago and v1.2 a few days ago, possible that I broke something.

[2017-04-19 16:22] nolanlawson commented on #22
Bizarre, I've restarted Sidekiq, I've restarted Nginx, Sidekiq isn't showing any errors in the logs, but I'm still seeing 502 bad gateways for all WebSocket connections. 😕 I'll keep digging...

[2017-04-19 16:29] halkeye commented on #22
The streaming server is the JavaScript one right?

Is that running. Does it have logs? Did you check the nohup thingie?

On Apr 19, 2017 9:22 AM, "Nolan Lawson" <notifications@github.com> wrote:

[2017-04-19 16:39] nolanlawson commented on #22
good point, I will isolate that one, restart it, and check its logs

[2017-04-19 16:40] luisbg commented on #22
I think I am hitting this issue as well. Since the timelines don't auto-update anymore for me, I need to do an F5 refresh of the page to see notifications.

[2017-04-19 16:42] nolanlawson commented on #22
Hm I'm seeing occasional errors but I did get a successful 101 connection. The npm process had died for some reason.

Error:

[code]

[2017-04-19 16:43] nolanlawson commented on #22
Note that previously I had all the logs piped into a single file, but now I'm separating them out so I can do better debugging. Let's watch the current npm process and see how things go.

[2017-04-19 16:46] nolanlawson commented on #22
Just confirmed that I am seeing new notifications/toots without needing to refresh. There are still lots of these 401 errors in the logs, but it's working for me on two different browsers. Can anyone else confirm what they're seeing?

[2017-04-19 16:46] nolanlawson commented on #22
BTW I also updated our nginx config based on the new [Production Guide](https://github.com/tootsuite/documentation/blob/master/Running-Mastodon/Production-guide.md) and restarted nginx so that may have helped. Closest issue I found to describe what we saw is https://github.com/tootsuite/mastodon/issues/809

[2017-04-19 17:15] #22 closed, assigned to nobody

[2017-04-19 17:53] nolanlawson commented on #11
Google, Bing, and DDG seem to be slowly purging stuff. Some URLs still show up on there.

I logged into Google Webmaster Tools but I have to individually purge URLs which will take forever. Can't figure out a better way :confused:

[2017-04-19 17:55] nolanlawson commented on #5
We're now up to a B+ on Observatory and A+ on SSLLabs after I updated our nginx config. More work left to do. :)

[2017-04-19 17:56] nolanlawson commented on #5
Observatory wants us to add a CSP header, wondering if this is the fix: https://github.com/tootsuite/mastodon/pull/1380

[2017-04-19 18:07] nolanlawson commented on #5
We're now an A- on Observatory (https://observatory.mozilla.org/analyze.html?host=toot.cafe) after I added this CSP:

    add_header Content-Security-Policy "default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-inline'; img-src 'self' data:; connect-src 'self' wss://toot.cafe; upgrade-insecure-requests";

Observatory wants us to make it even stricter to get up to an A+ b

[2017-04-19 18:20] nolanlawson commented on #5
OK we now get an A+ from Observatory. Here's the new CSP. Seems not to be too strict because everything is functioning in both Firefox and Chrome AFAICT:

    add_header Content-Security-Policy "default-src 'self'; style-src 'self' 'unsafe-inline'; script-src 'self'; img-src 'self' data:; object-src 'self'; media-src 'self'; connect-src 'self' wss://toot.cafe; upgrade-insecure-requests";

[2017-04-19 18:20] #5 closed, assigned to nobody

[2017-04-19 18:26] nolanlawson commented on #5
FWIW we also get A+ here: https://tls.imirhil.fr/https/toot.cafe

[2017-04-19 18:51] nolanlawson opened #23 "Ability to customize add-to-homescreen"
At the very least users should be able to choose:

1. standalone mode vs showing the URL bar
2. home URL of their choice (see [this toot](https://toot.cafe/@zack/204425))

This could be a PR to Mastodon to add an option in the settings which would then update the manifest.json file on-the-fly.

[2017-04-19 18:52] nolanlawson commented on #21
done

[2017-04-19 18:52] #21 closed, assigned to nobody

[2017-04-19 19:30] zaferayan commented on #17
Also toot filtering based on language would be cool on fediverse.

[2017-04-19 20:08] nolanlawson opened #24 "Firefox blocks script due to CSP"
From Eitan:

I'll try to reproduce.

[2017-04-19 20:13] nolanlawson commented on #24
I can repro in Firefox 54. I'll have to revert the `script-src 'self'` to `script-src 'self' 'unsafe-inline'`

[2017-04-19 20:13] nolanlawson commented on #24
reverted

[2017-04-19 20:13] #24 closed, assigned to nobody

[2017-04-19 20:14] nolanlawson commented on #5
Observatory has downgraded us to A- because I had to revert the `script-src`: https://github.com/tootcafe/discussions/issues/24 😛

[2017-04-19 20:44] luisbg commented on #22
It works now. Thanks :smiley:

[2017-04-20 00:50] nolanlawson opened #25 "Update to Mastodon v1.2.2"
https://github.com/tootsuite/mastodon/releases/tag/v1.2.2

[2017-04-20 05:44] #25 closed, assigned to nobody

[2017-04-20 05:54] nolanlawson commented on #3
We don't allow followbots, and we're on a "no bots, please" list already.

[2017-04-20 05:54] #3 closed, assigned to nobody

[2017-04-24 15:44] nolanlawson opened #26 "Install PgBouncer for Postgres"
Seems this issue (https://github.com/tootsuite/mastodon/issues/2369) may have been caused by exceeding the max number of Postgres connections. This is just something I ought to do anyway.

[2017-04-25 17:49] nolanlawson commented on #7
OK I think I'm going to go with @amycheng's system: https://github.com/amycheng/mastodon/pull/1. We'll have open registration but you need a URL-param-based passphrase to get in. We can change the passphrase periodically or close it down as needed.

This will ensure we can send URLs to our friends to let them sign up, but we won't show up on generic tools like instances.mastodon.xyz or tooter.toda

[2017-04-26 00:44] nolanlawson commented on #26
done

[2017-04-26 00:44] #26 closed, assigned to nobody

[2017-04-26 00:46] nolanlawson commented on #12
I'm a bit concerned that only one instance seems to actually be using an ambassador bot. Also it's third-party code running directly against the database. Gonna hold off for now. I hope the core Mastodon project adds local timelines.

[2017-04-26 14:33] nolanlawson commented on #7
Fixed by https://github.com/tootcafe/mastodon/pull/9 and https://github.com/tootcafe/mastodon/pull/10, we now have a passphrase-based registration system.

[2017-04-26 14:33] #7 closed, assigned to nobody

[2017-04-26 15:32] nolanlawson opened #27 "Problems signing up with the new passphrase-based system"
Many folks are reporting what appear to be [cookie/redirect issues](https://mobile.twitter.com/jedschmidt/status/857252196970369026) with our new passphrase-based registration system:

As someone reported on Twitter:

The relevant PRs are here: tootcafe/mastodon#9 tootcafe/mastodon#10 . Some help fixing this would be appreciated, since I'm not super familiar with Ruby. :smiley: That PR can be test

[2017-04-26 15:35] Seebiscuit commented on #27
This may be happening when a user navigates to `toot.cafe/auth/signin` when they are already signed in right after going through Confirmation...

[2017-04-26 15:38] b2m9 commented on #27
I had the exact same behaviour. I had one tab open, when the email arrived. I didn't reload the confirmation page, but went directly to `toot.cafe` and all was well.

[2017-04-26 15:59] NickBarreto commented on #27
@b2m9 that sounds like you've reproduced it exactly. That report from twitter above was me, and it pretty accurately describes what I was doing. I think @Seebiscuit's point is relevant, but worth noting that going to `toot.cafe/auth/signin` wasn't deliberate – the user gets redirected/forwarded there automatically, I think, which may be the issue. If the redirect/forward goes to `toot.cafe`, it ma

[2017-04-26 16:21] nolanlawson commented on #27
Hm, I'm wondering what in our code could possibly be causing this. I've never heard this reported by users of other Mastodon instances. Our change is so innocuous I really am not sure what the issue is here:  tootcafe/mastodon#9 tootcafe/mastodon#10

[2017-04-26 16:22] nolanlawson commented on #27
Also I never got reports of this before merging those PRs, so I'm guessing it must be something related to that.

[2017-04-27 21:43] nolanlawson opened #28 "Update to Mastodon v1.3.1"
- https://github.com/tootsuite/mastodon/releases/tag/v1.3.1
- https://github.com/tootsuite/mastodon/releases/tag/v1.3

[2017-04-28 00:10] gled-rs commented on #28
You should wait a bit, a few issues still on v1.3.1 ( or patch manually ).
https://github.com/tootsuite/mastodon/issues/2551
https://github.com/tootsuite/mastodon/issues/2550
https://github.com/tootsuite/mastodon/pull/2546

;)

[2017-04-28 01:01] nolanlawson commented on #28
Thanks for the heads up! Remind me to always wait a few days after a Mastodon release… 😅

[2017-04-28 01:02] gled-rs commented on #28
yes, I just deactivated my auto update ansible cron for that same exact reason ;)

[2017-04-29 00:00] gled-rs commented on #10
I am currently working on extending the search results on our instance with full text capacity ( using sphinx to index docs ).

I'll let you know if I have a reasonable PR !

[2017-04-29 19:15] nolanlawson commented on #28
1.3.2 looks pretty stable: https://github.com/tootsuite/mastodon/releases/tag/v1.3.2

[2017-04-29 23:31] nolanlawson commented on #28
I've rebased us on top of 1.3.2: https://github.com/tootcafe/mastodon/commits/master

[2017-04-29 23:31] #28 closed, assigned to nobody

[2017-04-29 23:44] nolanlawson commented on #10
When you open your PR, let me take a look! Very curious to add such a feature. :)

[2017-05-09 18:01] nolanlawson opened #29 "Switch to nginx-based HTTP authentication for signups"
This is more secure since it blocks API access as well. It's also simpler and probably less error-prone (see #27): https://masto.pt/users/hugo/updates/1155

[2017-07-14 20:02] sorin-davidoi commented on #17
@halkeye We now have web push: https://github.com/tootsuite/mastodon/pull/3243

[2017-07-16 14:22] sorin-davidoi opened #30 "toot.cafe is down"
@mlcdf @nolanlawson, don't really know how else to reach you.

[2017-07-16 16:40] mlcdf commented on #30
Well, it seems to work now. Not really sure what happened.

[2017-07-16 17:26] #30 closed, assigned to nobody

[2017-07-16 19:05] sorin-davidoi commented on #30
Turns out it was a very weird issue with my connection. Sorry for the trouble.

[2017-07-16 19:08] mlcdf commented on #30
Don't worry ;)

[2017-07-18 21:33] #17 closed, assigned to nobody

[2017-09-28 05:58] abdulkareemnalband opened #31 "Firefox pdf preview is not shown"
console logs
[code]

[2017-09-28 05:59] abdulkareemnalband commented on #31
Sorry misfiled

[2017-09-28 05:59] #31 closed, assigned to nobody

[2018-04-02 19:26] nolanlawson opened #32 "Unable to follow remote accounts"
Something went wrong with the 2.3.3 upgrade, and now users aren't able to follow remote accounts... not sure what's going on here, but this is the Sidekiq error:

[code]

The important bit seems to be:

[code]

I took a look at the diff between http://github.com/tootcafe/mastodon and the `v2.3.3` branch of tootsuite master and I'm not seeing anything that would cause this error. Feeling a bit stum

[2018-04-02 19:33] nolanlawson commented on #32
More output:

[code]

[2018-04-02 19:35] nolanlawson commented on #32
Seems the error is thrown at [this line of code](https://github.com/tootsuite/mastodon/blob/123a343d116d3e83cbd04460cc7bd0b6f3d208c4/app/services/activitypub/process_account_service.rb#L31)? Is it possible that if Redis isn't able to get the lock, then the `@account` would be null?

[2018-04-02 19:50] nolanlawson commented on #32
Restarted Redis and Postgres and all Mastodon services, no dice. 😞

[2018-04-02 20:26] nolanlawson commented on #32
Looks like the relevant call stack is:

- [fetch_remote_status_service:19](https://github.com/tootsuite/mastodon/blob/123a343d116d3e83cbd04460cc7bd0b6f3d208c4/app/services/activitypub/fetch_remote_status_service.rb#L19)
- [fetch_remote_account_service:23](https://github.com/tootsuite/mastodon/blob/123a343d116d3e83cbd04460cc7bd0b6f3d208c4/app/services/activitypub/fetch_remote_account_service.rb#L23

[2018-04-02 21:44] nolanlawson commented on #32
The hotpatch (https://github.com/tootcafe/mastodon/commit/ffaca18a4c7afe3f64bd0b4ec598dbed5478cf4f) seems to have fixed it. Sidekiq slowly working its way through a large backlog.

[2018-04-02 22:45] nolanlawson commented on #32
To be clear: this bug also appears to have broken federation. We were cut off from the rest of the fediverse for a few days. 😬

[2018-04-03 00:35] nolanlawson commented on #32
Federation started working again slowly after applying the patch, but we are still at around 100k Sidekiq jobs, slowly getting through them. Most are just ActivityPub::SynchronizeFeaturedCollectionWorker with the same argument (an account ID), which is the job that was previously failing. Somehow it managed to clog up most of the Sidekiq `pull` queue apparently.

[2018-04-03 00:35] #32 closed, assigned to nobody

[2018-09-15 09:38] zoetrope69 opened #33 "Round toot.cafe icon"
On the new versions of Android icons are round. Twitter's PWA has a round icon for example.

Could toot.cafes be round? I'm not precious on the idea tbh just a thought. I'm happy to mock it up too?

[2018-09-15 09:39] zoetrope69 commented on #6
How would it know the server health? is there a API for this?

[2018-10-28 23:55] nolanlawson commented on #33
I think there is a new Chrome manifest API that can automatically apply the rounding? It varies among different Android distros, so not all of them are round.

[2018-10-30 15:28] zoetrope69 commented on #33
Looks like its a wip: https://github.com/w3c/manifest/pull/657

Will close for now

[2018-10-30 15:28] #33 closed, assigned to nobody

[2019-09-17 05:03] NotWoods commented on #33
That spec landed and Firefox and Chrome are now implementing support! You may want to revist creating a [maskable icon](https://css-tricks.com/maskable-icons-android-adaptive-icons-for-your-pwa/).

[2022-11-07 20:31] forresto opened #34 "image file upload hangs"
I don't see errors in the console, and the network tab shows that the media post was 402 OK.
![image](https://user-images.githubusercontent.com/395307/200408874-c697d385-677d-4a27-96e0-e0ee5fe3ae31.png)

`preview_url` is [live](https://assets.toot.cafe/media_attachments/files/109/304/408/591/439/239/small/89ce0417852d4e22.png). And [original](https://assets.toot.cafe/media_attachments/files/109/30

[2022-11-07 20:48] forresto commented on #34
I'd missed this, a strong hint that it might be time to find a new instance: https://toot.cafe/web/@nolan/109295594146276613

[2022-11-08 13:48] nolanlawson commented on #34
Yeah the server load has been nuts recently. I'm trying to get a handle on it.

[2022-11-08 13:48] #34 closed, assigned to nobody

[2022-11-10 10:53] forresto opened #35 "/settings/migration error"
https://toot.cafe/settings/migration is showing "We're sorry, but something went wrong on our end" for me.

[2022-11-11 02:01] nolanlawson commented on #35
I'm not seeing that on my end. The server has been absolutely hammered recently, but just recently it reached stability. Try again?

[2022-11-28 07:18] forresto commented on #35
It could be because I had a migration in progress, and then cancelled it. My account might be stuck in a "migration in progress" state.